<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tresorit.zerokit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:allowBackup="false">

        <provider
            android:enabled="@bool/provider_enabled"
            android:authorities="${applicationId}.zerokitinitializer"
            android:name=".ZerokitInitializer"
            android:exported="false" />

    </application>

</manifest>
